@import "colours";

.background {
  width: 100%;
  height: 100%;
  position: relative;
}

.title {
  position: absolute;
  left: 50%; /* horizontal alignment */
  top: 45%; /* vertical alignment */
  transform: translate(-50%, -50%); /* precise centering */
  font-size: 3em;
}

.start {
  font-size: 1em;
}
